%h2 Меню

%p{:style=>"text-align:center;font-size:16px"} Дорогие гости! Любое понравившееся Вам блюдо мы можем привезти вам домой. Для этого просто выберите его из меню и позвоните нам в ресторан. 

%object{:codebase=>"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0", :height=>"1150", :width=>"800", :classid=>"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"}
  %param{:value=>"high", :name=>"quality"}
  %param{:value=>"/img/menu-2.swf", :name=>"movie"}
  %embed{:type=>"application/x-shockwave-flash", :src=>"/img/menu-2.swf", :height=>"1150", :width=>"800", :quality=>"high", :pluginspage=>"http://www.macromedia.com/go/getflashplayer"}


-#= render "menus/menu"
= render 'shared/restaurant'