*{margin:0;padding:0}
.clear{clear:both;height:0;}
.wat-cf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.wat-cf{display:inline-block;}
/* Hides from IE-mac \*/
* html .wat-cf{height:1%;}
.wat-cf{display:block;}
/* End hide from IE-mac */
h1{margin:15px 0;font-size:22px;font-weight:normal;}
.content h1{margin:10px 0 35px;font-size:30px;font-weight:normal;text-align:center;}
h2{font-size:22px;margin:15px 0;font-weight:normal;}
h3{font-size:18px;margin:10px 0;font-weight:normal;}
h4{font-size:16px;margin:10px 0;font-weight:normal;}
hr{height:1px;border:0;}
p{margin:15px 0;}
a img{border:none;}
body{font-size:12px;font-family:sans-serif;}
#container{min-width:960px;}
#header,#wrapper{padding:0 20px;}
#header{position:relative;padding-top:1px;}
#header h1{margin:0;padding:10px 0;font-size:26px;}
#header h1 a:link,#header h1 a:active,#header h1 a:hover,#header h1 a:visited{text-decoration:none;}
#main{width:81%;float:right;}
.actions-bar{padding:10px 1px;}
.actions-bar .actions{float:left;}
.actions-bar .pagination{float:right;padding:1px 0;}
#sidebar{width:18%;float:left;}
#sidebar h3{padding:10px 15px;margin:0;font-size:13px;}
#sidebar .block{margin-bottom:20px;padding-bottom:10px;}
#sidebar .block .content{padding:0 15px;}
#sidebar ul.navigation li a:link,#sidebar ul.navigation li a:visited{display:block;padding:10px 15px;}
#sidebar .block .sidebar-block,#sidebar .notice{padding:10px;}

/*flash_notice*/
#flash_notice{position:fixed;top:25%;left:50%;width:500px;margin:0 0 0 -250px;padding:25px 20px 20px;border:1px solid #FF8F35;}
#flash_notice b{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#FFCF88;opacity:0.9}
#flash_notice #desc{position:relative;z-index:10}
#close{position:absolute;top:0;right:5px;color:#dc143c;border-bottom:1px dotted;z-index:10;cursor:pointer}

div.red{color:red;font-size:30px;margin:30px 0 35px;}

#SideMenu{padding:20px 0 10px 0;}
#SideMenu li{margin: 0 0 10px;list-style:none;font-size:14px;}
#SideMenu li ul{padding:8px 0 0 35px;list-style:circle}
#SideMenu li ul li{list-style:circle}
#SideMenu li ul li a{font-size:0.9em}

.message.notice,.message.warning,.message.error{padding:10px;}
#wrapper{padding-top:20px;}
#main .block{margin-bottom:20px;padding-top:1px;}
#main .block .content .inner{padding:0 15px 15px;}
#main .block .content .inner .navform{text-align:right;}
#main .main p.first{margin-top:0;}
#user-navigation{position:absolute;top:0px;right:20px;}
#main-navigation{width:100%;}
#user-navigation ul,#main-navigation ul,.secondary-navigation ul,#sidebar ul.navigation{margin:0;padding:0;list-style-type:none;}
#user-navigation ul li,#main-navigation ul li,.secondary-navigation ul li{float:left;}
#main-navigation ul li{margin-right:5px;}
#user-navigation ul li{padding:5px 10px;}
#main-navigation ul li a:link,#main-navigation ul li a:visited,#main-navigation ul li a:hover,#main-navigation ul li a:active,
.secondary-navigation ul li a:link,.secondary-navigation ul li a:visited,.secondary-navigation ul li a:hover,.secondary-navigation ul li a:active,
#user-navigation ul li a:link,#user-navigation ul li a:visited,#user-navigation ul li a:hover,#user-navigation ul li a:active{text-decoration:none;}
#user-navigation ul li b{color:#fff}
#user-navigation ul li b a{color:#87ceeb !important;}
#main-navigation ul li a{font-size:14px;line-height:14px;display:block;padding:8px 15px;}
.secondary-navigation{font-size:13px;border-bottom-width:10px;border-bottom-style:solid;}
.secondary-navigation ul li a{display:block;padding:10px 15px;}
#footer{padding-bottom:20px;}
/* pagination */
.pagination{margin:20px 0 0 0}
.pagination a, .pagination span, .pagination em{padding:2px 5px;margin-right:5px;display:block;float:left;border-style:solid;border-width:1px;}
.pagination em{font-weight:bold;}
.pagination a{text-decoration:none;}
/* tables */
.table{width:100%;border-collapse:collapse;margin-bottom:15px;}
.table th{padding:10px;font-weight:bold;text-align:left;}
/*.table th.first{width:30px;}*/
.table th.last{width:80px;}
.table .checkbox{margin-left:10px;}
.table td{padding:10px;}
.table td.last{text-align:center;}
table {border-spacing:0;border-collapse: collapse;}
.content table{width:100%;}
.content table th{padding:5px 10px;border-right:1px solid #fff;background:yellowgreen;color:#fff;font-size:12px;font-weight:normal}
.content table th.col-1{width:150px}
.content table th.col-4, .content table th.col-5{white-space:nowrap;}
.content table td{padding:10px;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.content table td:first-child{border-left:1px solid #ccc}
.center{text-align:center;}

/* forms */
input.check_box{margin:0;padding:0;}
.form .group{margin-bottom:15px;}
.form div.left{width:30%;float:left;}
.form div.right{width:69%;float:right;}
.form .columns .column{width:48%;}
.form .columns .left{float:left;}
.form .columns .right{float:right;}
.form label,.form input.text_field,.form input.password_field,.form textarea.text_area{font-size:1.0em;padding:2px 0;margin:0;color:#36393D;}
.form label.right{text-align:right;}
.form input.check_box,.form input.radio{margin-right:5px;}
.form label.check_box,.form label.radio{line-height:1.5em;}
.form label{padding-bottom:2px;font-weight:bold;}
.form .error{color:red;}
.form a{color:red;font-size:14px;}
.form input.text_field,.form input.password_field,.form textarea.text_area{width:100%;border-width:1px;border-style:solid;}
.button_to{display:inline;}
.button_to input{background:none;border:none;display:inline;font-size:12px;color:#A72D2E;cursor:pointer;font-family: helvetica, arial, sans-serif;}
#user-navigation .button_to input{color:#FFFFFF;}
/* lists */
ul.list{margin:0;padding:0 0 20px;list-style-type:none;}
ul.list li{clear:left;margin:0 0 20px;padding:20px 0 5px;}
ul.list li .left{float:left;}
ul.list li .left .avatar{width:50px;height:50px;}
ul.list li .item{margin-left:80px;}
ul.list li .item .avatar{float:left;margin:0 5px 5px 0;width:30px;height:30px;}
ul.list li .username{float:left;margin:8px 0 0 0}
ul.list li .username b{}
ul.list li .delete{float:right;margin:8px 0 0 0}
.clear { clear:both;}

/* box */
#box{width:500px;margin:50px auto;}
#box .block{margin-bottom:20px;}
#box .block h2{padding:10px 15px;margin:0;}
#box .block .content{padding:10px 20px;}
/* custom */
.code{font-family: Courier, 'Courier New', monospace;color:#36393D;}
/* tables */

.small {
    font-size: 11px;
}

.gray {
    color: #999999;
}

.hightlight {
    background-color: #FFFFCC;
}

a:link, a:visited, a:hover, a:active, h1, h2, h3 {
    color: #7A1818;
}

a {
    -moz-outline: none;
}

body {
    color: #222;
    background: #e5e5e5;
    font-family: arial, sans-serif;
}

hr {
    background: #f0f0ee;
    color: #f0f0ee;
}

#header {
    background: #7A1818;
}

#header h1 {
    padding: 15px 0;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
    color: #FFF;
}

#user-navigation {
    top: auto;
    bottom: 5px;
    right: 25px;
}

#main .block .content {
    background: #FFF;
    padding: 10px 20px 40px;
}


#main .block .content h2 {
    margin:10px 0 20px;
}

#main .block .content .title{margin: 10px 0 35px;color: #7A1818;font-size: 25px;font-weight: normal}
#main .block .content .title span{color:#666;font-size:15px}

#sidebar .block {
    background: #FFF;
}

#sidebar h3 {
    background: #7A1818;
    color: #FFF;
    border-bottom: 2px solid #262626;
}

#main-navigation ul li {
    padding-left: 15px;
}

#main-navigation ul li a {
    padding: 8px 0;
}

#main-navigation ul li.active {
    padding: 0;
    margin-left: 15px;
}

#main-navigation ul li.active {
    margin-left: 15px;
}

#main-navigation ul li.active a {
    padding: 8px 15px;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
    background: #FFF;
    border-bottom: 1px solid #F0F0EE;
    text-decoration: none;
}

#sidebar ul li a:hover, #sidebar ul li a:active {
    background: #470E0E;
    color: #FFF;
}

#main-navigation {
    background: #262626;
}

#main-navigation ul li {
    background: #262626;
    margin-right: 0;
}

#main-navigation ul li.active {
    background: #e5e5e5;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
    text-decoration: none;
    color: #FFF;
}

#user-navigation a.logout {
    background: #cc0000;
    padding: 2px 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 3px;
}

.secondary-navigation li a:hover {
    background: #470E0E;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
    color: #262626;
}

.secondary-navigation {
    background: #7A1818;
    border-bottom-color: #262626;
}

.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
    background-color: #262626;
}

#footer .block {
    color: #FFF;
    background: #262626;
}

#footer .block p {
    margin: 0;
    padding: 10px;
}

/* pagination */

.pagination span.current {
    background: #262626;
    color: #FFF;
    border-color: #262626;
}

.pagination a {
    color: #262626;
    border-color: #262626;
}

.pagination a:hover {
    color: #FFF;
    background: #262626;
}

/* tables */

.table th {
    color: #FFF;
    background: #999999;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    padding: 8px 20px;
}

.table td {
    border: 1px solid #CCCCCC;
    padding: 10px 20px;
}

/* forms */

.form input.text_field, .form input.password_field, .form textarea.text_area {
    width: 100%;
    border: 1px solid #262626;
}
.form textarea.text_area {
    height: 350px;
}

.form input.button {
    padding: 5px 10px 5px 10px;
    background-color: #7A1818;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 14px;
    border: 0px;
    margin: 0px;
}

.form .button:hover {
    background: #470E0E;
}

.form .description {
    font-style: italic;
    color: #8C8C8C;
    font-size: .9em;
}

/* flash-messages */
.flash .message {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    margin: 0 auto 15px;

}

.flash .message p {
    margin: 8px;
}

.flash .error {
    border: 1px solid #fbb;
    background-color: #fdd;
}

.flash .warning {
    border: 1px solid #fffaaa;
    background-color: #ffffcc;
}

.flash .notice {
    border: 1px solid #1FDF00;
    background-color: #BBFFB6;
}

/* lists */

ul.list li {
    border-bottom-color: #F0F0EE;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

ul.list li .item .avatar {
    border-color: #F0F0EE;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

/* box */

#box .block {
    background: #FFF;
}

#box .block h2 {
    background: #7A1818;
    color: #FFF;
}

/* rounded borders */

#main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
#footer .block, .form input.button, #box .block, #box .block h2 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

.secondary-navigation li.first a, .secondary-navigation ul li.first, .table th.first, .table th.first {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

.table th.last {
		width:135px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

.secondary-navigation ul li.first {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}


#ImagesList{padding:0 0 30px;list-style:none}
#ImagesList li{margin:0 0 25px;}

.content input[type="text"]{width:99%;height:25px;padding:0 5px;border:1px solid #ccc}
#SeoBlock{display:none;}
span.toggle{color:#ff4500;border-bottom:1px dashed;font-size:18px;cursor:pointer}










/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
.date {
	width:194px !important;text-align:center;
}

/* calendar root element */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	z-index:10000;

	margin-top:-1px;
	width:198px;
	padding:2px;
	background-color:#fff;
	font-size:11px;
	border:1px solid #ccc;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;

	-moz-box-shadow: 0 0 15px #666;
	-webkit-box-shadow: 0 0 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {
	padding:2px 0;
	height:22px;
}

#caltitle {
	font-size:14px;
	color:#0150D1;
	float:left;
	text-align:center;
	width:155px;
	line-height:20px;
	text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
	display:block;
	width:20px;
	height:20px;
	background:transparent url(prev.gif) no-repeat scroll center center;
	float:left;
	cursor:pointer;
}

#calnext {
	background-image:url(next.gif);
	float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
	visibility:hidden;
}

/* year/month selector */
#caltitle select {
	font-size:10px;
}

/* names of the days */
#caldays {
	height:14px;
	border-bottom:1px solid #ddd;
}

#caldays span {
	display:block;
	float:left;
	width:28px;
	text-align:center;
}

/* container for weeks */
#calweeks {
	background-color:#fff;
	margin-top:4px;
}

/* single week */
.calweek {
	clear:left;
	height:22px;
}

/* single day */
.calweek a {
	display:block;
	float:left;
	width:27px;
	height:20px;
	text-decoration:none;
	font-size:11px;
	margin-left:1px;
	text-align:center;
	line-height:20px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/* different states */
.calweek a:hover, .calfocus {
	background-color:#ddd;
}

/* sunday */
a.calsun {
	color:red;
}

/* offmonth day */
a.caloff {
	color:#ccc;
}

a.caloff:hover {
	background-color:rgb(245, 245, 250);
}


/* unselecteble day */
a.caldisabled {
	background-color:#efefef !important;
	color:#ccc	!important;
	cursor:default;
}

/* current day */
#calcurrent {
	background-color:#498CE2;
	color:#fff;
}

/* today */
#caltoday {
	background-color:#333;
	color:#fff;
}
