%ul.line
  %li.f_menu
    %img{:src => "/img/line_menu.png", :alt => "Меню", :title => "Меню"}
    %span.line_c
      %a{:href => "/restaurant/menu"}
        %span Меню

  %li.f_reserv
    %img{:src => "/img/line_reserv.png", :alt => "Меню", :title => "Меню"}
    %span.line_c
      %a{:href => "/booking"}
        %span Бронирование столов

  %li.f_flowers
    %img{:src => "/img/line_flowers.png", :alt => "Заказ цветов", :title => "Заказ цветов"}
    %span.line_c
      %a{:href => "#"}
        %span Заказ цветов
  %li.f_online
    %img{:src => "/img/line_online.png", :alt => "Онлайн заказ", :title => "Онлайн заказ"}
    %span.line_c
      %a{:href => "#"}
        %span Онлайн заказ