<h2>
  <%= @page.title %>
</h2>
<div class="map">
  <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту  (начало) -->
  <script src="http://api-maps.yandex.ru/1.1/?key=AJ2gHk4BAAAAQA2PfAIALnfQ7kK5ichTm7lX1GlAshc4-WYAAAAAAAAAAACb3QcPkidYetddt9Bflw7Gftzy5g==~ANC-Hk4BAAAAiOf9DQIA_9wNMYSzvofO74XJmsMtJ0V1zIUAAAAAAAAAAAA9y83NeOdnQkC-UXW0-kXc19v4Jg==&modules=pmap&wizard=constructor" type="text/javascript"></script>
<script type="text/javascript">
      YMaps.jQuery(window).load(function () {
          var map = new YMaps.Map(YMaps.jQuery("#YMapsID-5447")[0]);
          map.setCenter(new YMaps.GeoPoint(45.017884, 53.190785), 17, YMaps.MapType.MAP);
          map.addControl(new YMaps.Zoom());
          map.addControl(new YMaps.ToolBar());
          YMaps.MapType.PMAP.getName = function () {
              return "Народная";
          };
          map.addControl(new YMaps.TypeControl([
              YMaps.MapType.MAP,
              YMaps.MapType.SATELLITE,
              YMaps.MapType.HYBRID,
              YMaps.MapType.PMAP
          ], [0, 1, 2, 3]));

          YMaps.Styles.add("constructor#pmdolPlacemark", {
              iconStyle : {
                  href : "http://api-maps.yandex.ru/i/0.3/placemarks/pmdol.png",
                  size : new YMaps.Point(36, 41),
                  offset: new YMaps.Point(-13, -40)
              }
          });

          map.addOverlay(createObject("Placemark", new YMaps.GeoPoint(45.018034, 53.190701), "constructor#pmdolPlacemark", "Ресторан \"Ереван\""));

          function createObject(type, point, style, description) {
              var allowObjects = ["Placemark", "Polyline", "Polygon"],
                      index = YMaps.jQuery.inArray(type, allowObjects),
                      constructor = allowObjects[(index == -1) ? 0 : index];
              description = description || "";

              var object = new YMaps[constructor](point, {style: style, hasBalloon : !!description});
              object.description = description;

              return object;
          }
      });
  </script>

  <div id="YMapsID-5447" style="width:550px;height:450px"></div>
  <div style="width:550px;text-align:right;font-family:Arial">
    <a href="http://api.yandex.ru/maps/tools/constructor/" style="color:#1A3DC1">Создано с помощью инструментов
      Яндекс.Карт</a></div>
<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
</div>
<div class="contacts">
  <%= raw @page.desc %>
</div>

